body{
    /* overflow: auto; */
    background-color: var(--defaultColor);
}

#div1, #div2{
    display: inline-block;
}

h1{
    position: relative;
    float: left;
    margin: 10px;
    
}   

h2{
    position: absolute;
    left: 40%;
}

td{
    height: 3em;
    width: 3em;
}

#statBox{
    clear: both;
}

#statBox div{
    height:5em;
}

#statBox>span{
    padding: 1em;
    margin: 0.1em;  
    margin-top: 2em;
    background-color: chocolate
}
#statBox span:first-child{
    margin-right: 12em;
}

span:nth-child(-n+3){
    float: right;
}
#moreStats {
    clear: both;
    
}

#moreStats span{
    padding: 0.2 em;
    margin: 0.1em;
    background-color: chocolate;
}
#imageBox{
    clear: both;
}

#div2{
    float: right;
    margin-right: 5%;
    
}
#div1{
    margin-left: 5%;
    animation: show 2s;
}
header h2::after{
    content: "!";
}

@keyframes show {
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}
