@import "style.css";

#rowTop0 {
    background: #DDDDDD;
    border: 0px;
}

#table1{
     /* float: left;  */
     margin-left: 14em; 
     margin-top: 10em;
}
.column {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  /* overflow-x: hidden; */
  padding-top: 20px;
}
#leftSide {
    left: 0;
}

#rightSide {
 
    background: #444444; 
    /* position: relative; */
    /* top: 50%; */
    right: 0;
    width: 30%;

}

.but {
    background-color: #FF6347;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    margin: 20px;
    height:70px;
    width: 200px;
    font-size: 12pt;
}
.smallButt {
    background-color: #FF6347;
    border: none;
    text-align: center;
    display: inline-block;
    /* padding: 15px 32px; */
    margin: 20px;
    height:30px;
    width: 100px;
    font-size: 12pt;
}
.bottom button:first-child{
    width: 3%;
}
.rbut button:last-child{
    margin-top: 7em;
    font-size: 15pt;
}
.but:hover {
    background-color: rgb(168, 75, 59);
}
.but:active {
    border: solid;
}
.rbut {
    position: relative;
    left: 10em;
    top: 10em;
    width: 200px;
}

.bottom {
    
}